* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #dadde0;
    font-size: 2rem;
}

.container {
    display: grid;
    margin-left: 24%;
    align-items: center;
    text-align: center;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
}

.item {
    width: 100%;
    margin-top: 50px;
    border: 3px solid #00000086;
    background-color: #1e93f3ab;
    color: #ffff;
    font-size: 1.25em;
    font-weight: normal;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #00ccff;
}

a:active {
    color: #00a2ca;
}