/* Corpo do CSS*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    width: 0%;
    height: 0;
}

/* esse section está englobado todo o conteudo foco do site: Logo e quem somos */
.conteudosection {
    width: 100%;
    height: 100vh;
    position: relative;
}


/* a Div box mosstra todos os conteudos da section*/
.box {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 10), Transparent);
    display: flexbox;
}

.boxconteudo {
    width: 100%;
    text-align: center;
}

/* logo do aether*/
.logoaether {
    width: 25%;
    margin-top: 25px;
    animation-duration: 3s;
    animation-name: slidein;
}

/* animação aether*/
@keyframes slidein {
    from {
        width: 50%;
    }
    to {
        margin: 0%;
        width: 25%;
        margin-top: 25px;
    }
}

/* navbar para definir o fundo do conteudo*/
.QuemSomos {
    background-color: rgba(5, 59, 129, 0.836);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    border-style: outset;
    min-height: 5%;
    min-width: 60%;
    position: fixed;
}

/* fonte 8 bits*/
@font-face {
    font-family: 'fontebits';
    src: url(../Fontes/Minercraftory.ttf);
}

/* animação do texto das letras 8 bits*/
@keyframes maquina {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.QuemSomosTXT {
    color: white;
    font-family: fontebits;
    font-size: 19px;
    animation: maquina 4s linear;
    overflow: hidden;
}











/* Parte do video */
.background-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.background-section video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: contain;
}